.card> img{
  width: calc(10vw + 10vh);
  height: calc(7vw + 7vh);
  object-fit: cover;
  object-position: 0 0;
  min-width: 300px;
}

.border{
  border-width: 0.2rem !important;
}

.allCards{
  background-color: #e0dfde52;
}

.bg-primary{
  margin-top: -60px;
}