<div>
<div class="p-2 p-lg-5">
  <div class="mb-2 mb-md-5">
    <p class="display-4 text-primary mb-0">Was andere über uns berichten.</p>
    <p class="text text-primary">
      Wirf einen Blick in die Vergangenheit und erlebe mit uns noch einmal
      unsere heroischsten Momente mit.
    </p>
  </div>
</div>
  <div class="d-inline-flex row mx-0 justify-content-around allCards py-2 py-md-4">
    <ng-container *ngFor="let testimonial of allTestimonials">
      <div class="card m-1 m-md-4">
        <img class="card-img-top" src="{{testimonial.getImages().getSmall()}}" srcset="
        {{testimonial.getImages().getSmall()}} 600w,
        {{testimonial.getImages().getMedium()}} 750w,
        {{testimonial.getImages().getLarge()}} 1000w"
        alt="Card image cap">
        <div class="card-body p-0">
          <h5 class="bg-primary text-white card-title p-1 p-md-3">{{ testimonial.getHeadline() }}</h5>
          <p class="card-text pb-2 pl-2">
            {{ testimonial.getDescription() }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>


