<div>
<div class="p-2 p-lg-5">
  <div class="mb-2 mb-md-5">
    <p class="display-4 text-primary mb-0">Was andere über uns berichten.</p>
    <p class="text text-primary">
      Wirf einen Blick in die Vergangenheit und erlebe mit uns noch einmal
      unsere heroischsten Momente mit.
    </p>
  </div>
</div>
<div *ngIf="hasTestimonials; else elseBlock">
<!--<div class="d-inline-flex row mx-0 justify-content-center px-0 allCards py-2 py-lg-4">-->
  <div class="d-flex row mx-0 justify-content-center px-0 allCards py-2 py-lg-4">
  <div *ngFor="let page of setOfTestimonials | keyvalue">
  <ng-container *ngFor="let testimonial of page.value">
    <div class="col-12 col-sm-4">
    <div class="card m-1">
      <img class="card-img-top w-100" src="{{testimonial.getImages().getSmall()}}" srcset="
      {{testimonial.getImages().getSmall()}} 600w,
      {{testimonial.getImages().getMedium()}} 750w,
      {{testimonial.getImages().getLarge()}} 1000w"
      alt="Card image cap">
      <div class="card-body p-0">
        <h5 class="bg-primary text-white card-title p-1 p-md-3">{{ testimonial.getHeadline() }}</h5>
        <p class="card-text pb-2 pl-2">
          {{ testimonial.getDescription() }}
        </p>
      </div>
    </div>
  </div>
  </ng-container>
</div>
</div>
<div class="text-center allCards pb-3">
  <button type="button" class="btn btn-outline-warning" (click)=" getTesitimonialsSet()">mehr anzeigen</button>
</div>
</div>

<ng-template #elseBlock>
  <div class="text bg-primary text-white fs-2 text-center py-4 px-3">Unsere Partner werden demnächst angezeigt.Schau bitte später vorbei</div>
</ng-template>
</div>
