<div class="p-1 p-lg-5">
  <div class="mb-2 mb-md-5">
    <p class="display-4 text-primary mb-0">Was andere über uns berichten.</p>
    <p class="text text-primary">
      Wirf einen Blick in die Vergangenheit und erlebe mit uns noch einmal
      unsere heroischsten Momente mit.
    </p>
  </div>
  <div class="d-inline-flex row mx-0 justify-content-center">
    <ng-container *ngFor="let testimonial of allTestimonials">
      <div class="row-12 row-sm-10 row flex-wrap p-2 p-sm-3 p-md-4 p-lg-3 p-xl-4 ">
      <div class="card border">
        <img class="card-img-top" srcset="{{testimonial.getImages().getSmall()}} 576w, {{testimonial.getImages().getMedium()}} 720w, {{testimonial.getImages().getLarge()}} 960w" alt="Card image cap">
        <div class="card-body p-0">
          <h5 class="bg-primary text-white card-title p-1 p-md-3">{{ testimonial.getHeadline() }}</h5>
          <p class="card-text pb-2 pl-2">
            {{ testimonial.getDescription() }}
          </p>
        </div>
      </div>
    </div>
    </ng-container>
  </div>

</div>
