<div class="container-fluid bg-image" id="content">

  <div class="d-flex justify-content-center algin-items-center w-25" id="frame">

    <div class="" id="frameContent">

      <div class="" id="text">
        <p class="" id="textContent">
          Wenn Du nicht aktiv an einem Streik teilnehmen möchtest, oder verhindert bist,
          kannst Du auch durch eine Spende an unseren Verein zum Streik beitragen.
          Der Klimastreik soll groß und laut werden.
          Durch deine Spende unterstützt Du uns bei der Planung, Organisation und Durchhführung von Klimastreiks.
        </p>
      </div>
      <div class="" id="button">
        <button class="" id="buttonContent">Spenden</button>
      </div>

    </div>

  </div>

</div>
