.bg-image{
  background-image: url('../../../assets/background_donation.png');
    width: 100%;
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

#content{

}

#frame{

}

#frameContent{

}

#text{

}

#textContent{

}

#button{

}

#buttonContent{

}
