.alliance_image{
  width: 14vw;
  min-width: 80px;
border-radius: 20%;
border-color: gray !important;
border-width: 3px !important;
}
::ng-deep .carousel-control-prev-icon{
  background-image: url('../../../assets/pictures/alliance/double_arrow-24px.svg');
  width: 4vw;
  min-width: 50px;
  height: 4vw;
  min-height: 50px;
  transform: scaleX(-1);
}
::ng-deep .carousel-control-next-icon{
 background-image: url('../../../assets/pictures/alliance/double_arrow-24px.svg');
 width: 4vw;
 min-width: 50px;
 height: 4vw;
 min-height: 50px;
}

.carousel{
  outline: none ;
}
