<div class="p-2 p-sm-4 p-lg-5">
  <p id="alliance_head" class="display-4 text-primary mb-0">Bündnis</p>
  <p id="alliance_cover" class="text text-primary">
    Unsere Interessen sind global. Leider können wir nicht die ganze Welt bereisen. dennoch haben wir auf unserer bisherigen Reise Freunde gefunden,
    die und helfen. Schau doch mal bei einem von ihnen vorbei.
  </p>

  <div *ngIf="hasAlliance; else elseBlock">
  <ngb-carousel class="carousel py-1 py-lg-5 border-0 d-flex align-items-center">
    <ng-template *ngFor="let page of alliances | keyvalue" ngbSlide>
      <div class="d-flex justify-content-center flex-wrap">
        <ng-container *ngFor="let icon of page.value">
          <a class="m-1 m-md-4" href="{{ icon.getPath() }}">

            <div *ngIf="icon.hasPictures(); else placeholder">
            <img
              class="border border-primary alliance_image"
              src="{{ icon.getPicture().getSmall() }}"
              srcset="
      {{icon.getPicture().getSmall()}} 600w,
      {{icon.getPicture().getMedium()}} 750w,
      {{icon.getPicture().getLarge()}} 1000w"
              alt="{{ icon.getName() }}"/>
            </div>
            <ng-template #placeholder>
              <img  class="border border-primary alliance_image" src="./../../../assets/pictures/placeholder/noimage.jpg" alt="no image">
            </ng-template>
        </a>

        </ng-container>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<ng-template #elseBlock>
  <div class="text bg-primary text-white fs-2 text-center py-4 px-3">Wir sind bemüht unsere Partner aufzulisten. Schaue später vorbei.</div>
</ng-template>
</div>
