<div class="p-1 p-lg-5">
  <p class="display-4 text-primary mb-0">Bündnis</p>
  <p class="text text-primary">
    Unsere Interessen sind global. Leider können wir nicht die ganze Welt bereisen. dennoch haben wir auf unserer bisherigen Reise Freunde gefunden,
    die und helfen. Schau doch mal bei einem von ihnen vorbei.
  </p>

  <ngb-carousel class="py-1 py-lg-5">
    <ng-template *ngFor="let page of alliances" ngbSlide>
      <div class="d-flex justify-content-center flex-wrap">
        <ng-container *ngFor="let icon of page">
          <a class="m-1 m-md-4" href="{{ icon.url }}"
            ><img
              class="border border-primary alliance_image"
              src="{{ icon.src }}"
              alt="{{ icon.name }}"
          /></a>
        </ng-container>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
