<div class="container-fluid bg-image" id="content">

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 p-4" id="frame">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-center" id="frameContent">

      <div class="col-xl col-lg col-md col-sm text text-uppercase text-white d-flex justify-content-center mb-3" id="headline">
        <p class="col-xl-11 col-lg-11 col-md-11 col-sm-11 h1 d-flex justify-content-center border-bottom" id="headlineContent">Wofür lohnt es sich zu kämpfen?</p>
      </div>
      <div class="col-xl col-lg col-md col-sm text text-white mb-3" id="text">
        <p class="col-xl col-lg col-md col-sm-10 d-flex justify-content-center" id="textContent">Nutze mit uns 107 Möglichkeiten zur Rettung der Welt.</p>
        <p class="col-xl col-lg col-md col-sm-10 d-flex justify-content-center" id="textContent">Sichere das was teuer ist für jene, die dir teuer sind.</p>
      </div>
      <div class="col-xl col-lg col-md col-sm d-flex justify-content-center align-items-center mt-5" id="button">
        <button class="col-xl-2 col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center border text-white py-2" id="buttonContent">Mach mit!</button>
      </div>

    </div>

  </div>

</div>
