<div class="container-fluid bg-image" id="content">

  <div class="container d-flex justify-content-start align-items-start" id="frame">

    <div class="container border border-info justify-content-center m-5" id="frameContent">

      <div class="col-xl col-md text text-uppercase text-white border border-info" id="headline">
        <p class="col-xl-10 col-md-10 h1 d-flex justify-content-center border-bottom" id="headlineContent">Wofür lohnt es sich zu kämpfen?</p>
      </div>
      <div class="col-xl col-md text text-white border border-info" id="text">
        <p class="col-xl-10 col-md-10 d-flex justify-content-center" id="textContent">Nutze mit uns 107 Möglichkeiten zur Rettung der Welt.</p>
        <p class="col-xl-10 col-md-10 d-flex justify-content-center" id="textContent">Sichere das was teuer ist für jene, die dir teuer sind.</p>
      </div>
      <div class="col-xl-2 col-md-2 d-flex justify-content-center align-items-center border border-info" id="button">
        <button class="col-xl-10 col-md-10 d-flex justify-content-center align-items-center border text-white" id="buttonContent">Mach mit!</button>
      </div>

    </div>

  </div>

</div>
