@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

.bg-image{
  background-image: url('../../../../assets/separater1_background.jpg');
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
  height: 80vh;
  padding: 0;
  padding-top: 15%;
}

#frame{
  background-color: rgba($color: #B3A494, $alpha: 0.7);
}

#frameContent{

}

#headline{

}

#headlineContent{
  border-bottom-color: #00464C !important;
}

#text{
  line-height: 1.0;
}

#textContent{
  font-family: 'Tillana', sans-serif;
  font-size: 1.3em;
}

#button{

}

#buttonContent{
  background-color: rgba($color: #B3A494, $alpha: 0.8);
  border-color: #00464C !important;
}
