@import 'src/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

.bg-image{
  background-image: url('../../../../assets/separater1_background.jpg');
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
  height: 80vh;
  padding: 0;
  padding-top: 15%;
}

#frame{
  background-color: rgba($color: $info, $alpha: 0.7);
}

#frameContent{

}

#headline{

}

#headlineContent{
  border-bottom: 3px solid $primary !important;
}

#text{
  line-height: 1.1;
}

#textContent{
  font-family: 'Tillana', sans-serif;

}

#button{

}

#buttonContent{
  background-color: rgba($color: $info, $alpha: 0.8);
  border: 1px solid $primary;
}

#buttonContent:hover {
  border: 1px solid $secondary;
  background-color: $info;
}



