<div>
<div class="p-2 p-sm-4 p-lg-5">
  <div>
  <p id="faq_head" class="display-4 text-primary mb-0">Noch etwas unklar?</p>
  <p id="faq_cover" class="text text-primary">Kein Problem! Wir haben Antworten auf häufig gestellte Fragen vorbereitet...</p>
</div>

    <div class="d-flex justify-content-center row mx-0 w-100 h-50 flex-lg-nowrap">
      <div id="first_faqbox" class="col-4 col-sm-3 col-md-3 col-lg bg-primary text-center m-2 info-box">
        <span class="material-icons big text-secondary pt-2">
          map
          </span>
          <p class="text-white">Du weißt nicht wie Du nach Streiks suchen kannst?</p>
      </div>

      <div id="second_faqbox" class="col-4 col-sm-3 col-md-3 col-lg bg-primary text-center m-2 info-box">
        <span class="material-icons big text-secondary pt-2">
          add_location_alt
          </span>
          <p class="text-white">Möchtest du eine Aktion auf die Karte aufnehmen?</p>
      </div>

      <div id="third_faqbox" class="col-4 col-sm-3 col-md-3 col-lg bg-primary text-center m-2 info-box">
        <span class="material-icons big text-secondary pt-2">
          not_listed_location
          </span>
          <p class="text-white">Du findest keine Infos zu einer Aktion?</p>
      </div>

      <div id="fourth_faqbox" class="col-4 col-sm-3 col-md-3 col-lg bg-primary text-center m-2 info-box">
        <span class="material-icons big text-secondary pt-2">
          person_off
          </span>
          <p class="text-white">Du bist verhindert und kannst nicht teilnehmen?</p>
      </div>

      <div id="fifth_faqbox" onclick="window.open('https://www.klima-streik.org/corona-hinweise', 'new_window')" class="col-4 col-sm-3 col-md-3 col-lg bg-primary text-center m-2 different info-box">
        <span class="material-icons big text-secondary pt-2">
          coronavirus
          </span>
          <p class="text-white">So kannst Du auch in dieser Situation mitmachen!</p>
      </div>

    </div>

    <p id="leak" class="h4 text-primary mt-2 my-md-5">... möglicherweise sind ein paar Anworten für Dich dabei:</p>

    <div id="faq" class="w-90">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">

        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div class="d-flex">
                    <div class="mr-auto p-2">Aktion in Deiner Nähe</div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
              Alle angekündigten Aktionen findest Du auf der
              <a [routerLink]="['/Home']" fragment ="Karte" class="text-info"> Karte.</a>
              Am einfachsten gibst Du den Namen Deiner Stadt direkt in die
              Suchleiste der Karte ein.
            </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
              <div class="d-flex">
                  <div class="mr-auto p-2">Deine Aktion in die Karte aufnehmen</div>

              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div>
             Du kannst Deine Aktion an <a class="text-info" onclick="window.open('https://fridaysforfuture.de/allefuer1komma5/?pk_campaign=nomoreemptypromises#eintragen', 'new_window')">Fridays for Future</a> melden.

            Dabei werden von Dir folgende Informationen benötigt:

             <ul>
               <li>Dein Name</li>
               <li>Startzeitpunkt inklusive des genauen Ortes</li>
               <li>Genehmigung der Aktion</li>
               <li>Besondere Aktionsform</li>
               <li>Eine Handynummer und die dazugehörige Einverständniserklärung</li>
               <li>Gegebenfalls ein Link zum Facebook-Event oder der Veranstaltungseite</li>
             </ul>
             Deine Daten werden nicht weitergegeben, lediglich die Uhrzeit, Stadt, der genaue Ort, die Aktionsform und der Link.

             Deine Aktion wird dann automatisch auf der Karte erscheinen.
            </div>
          </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="d-flex">
            <div class="mr-auto p-2">Aktion in Deiner Stadt hat noch keine Infos</div>

          </div>

        </ng-template>
        <ng-template ngbPanelContent>
         Oft werden die Uhrzeiten und genauen Standorte der Aktionen erst kurzfristig bekannt gegeben. Daher lohnt es sich, regelmäßig unter <a class="text-info" [routerLink]= "['/Home']" fragment="Karte">Aktionen </a> nachzusehen.
        </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
          <div class="d-flex">
              <div class="mr-auto p-2">Du kannst nicht dabei sein? Dann mach so mit!</div>

          </div>
      </ng-template>
      <ng-template ngbPanelContent>
      Auf vielen Wegen kannst Du den Klimastreik unterstützen! Mach einen großen Unterschied und werde Mitstreiter*in.
      Du kannst aktiv werden, indem Du viele Leute informierst und Werbung für die Aktion machst.
      Dafür hast Du Möglichkeiten, <a class="text-info" onclick="window.open('https://www.klima-streik.org/helfen/mobilisieren', 'new_window')">online</a> Freunde und Familie zu mobilisieren.
      Du kannst das Bündnis auch durch <a class="text-info" onclick="window.open('https://www.klima-streik.org/helfen/spenden', 'new_window')">Deine Spende</a> unterstützen.
      </ng-template>
  </ngb-panel>

    </ngb-accordion>
    </div>

</div>
</div>
