@import "../../../custom-variables";

.big {
  font-size: 70px !important;
}

.different:hover {
  background-color: $info !important;
}

.info-box{
  min-width: 9rem;
  min-height: 9rem;
}

#fifth_faqbox{
  cursor: pointer;
  }

::ng-deep .accordion {
  .card {
    margin-bottom: 0 !important;
    border: none;
  }
  .card-header {
    padding: 0;
    background: $primary;
    border: none;

    button {
      padding: 1rem;
      text-decoration: none;
    }

    button:hover {
      color: $secondary;
      .small {
        color: $secondary;
      }
    }

    button:focus {
      .small {
        transform: rotate(-180deg) !important;
        color: $secondary;
      }
    }

    .small:hover {
      color: $secondary;
    }

    .btn-link {
      color: white;
      width: 100%;
    }
    .card-body {
      padding: 0;
    }
  }
}

