@import "../../../custom-variables";

.material-icons{
  font-size: 70px !important;
}

.different:hover{
  background-color: $info !important;
}

::ng-deep .accordion {
  .card {
    margin-bottom: 0 !important;
    border: none;

  }
  .card-header {
    padding: 0;
    background: $primary;
    border:none;

    button {
      padding: 1rem;
      text-decoration: none;
    }

    button:hover {
      text-decoration: underline;
        text-decoration-color: $secondary;
  }
  
  .btn-link{
    color: white;
  }
  .card-body{
      padding: 0;
  }
}
}