<div class="shadow d-flex flex-column align-items-center">
  <img id="logo" class="py-1 py-md-4" src="./../../../assets/pictures/footer/nfd_logo.png" alt="">
  <div class="d-flex justify-content-center flex-wrap py-2 py-md-4">
    <a class="text-primary font-weight-bold text-uppercase px-1 px-sm-2 px-md-4 px-lg-5" href="https://www.klima-streik.org/datenschutz" target="_blank">Kontakt</a>
    <div class="line bg-primary py-1"></div>
    <a class="text-primary font-weight-bold text-uppercase px-1 px-sm-2 px-md-4 px-lg-5" href="https://www.klima-streik.org/impressum" target="_blank">Impressum</a>
    <div class="line bg-primary py-1"></div>
    <a class="text-primary font-weight-bold text-uppercase px-1 px-sm-2 px-md-4 px-lg-5" href="https://www.klima-streik.org/datenschutz" target="_blank">Datenschutz</a>
    <div class="line bg-primary py-1"></div>
    <div class="text-primary font-weight-bold text-uppercase px-1 px-sm-2 px-md-4 px-lg-5" (click)="this.open('autofocus')">Cookieeinstellungen</div>
  </div>
  <div id="cutter" class="bg-primary"></div>
  <div class="text-center text-primary py-1 my-md-3">© Copyright 2021 - Naturfreunde Berin e.V. ALLE RECHTE VORBEHALTEN.</div>
</div>
