
<div class="d-flex flex-column align-items-center">
  <img id="logo" class="py-1 py-md-4" src="./../../../assets/pictures/footer/nfd_logo.png" alt="">
  <div class="d-flex justify-content-center flex-wrap py-2 py-md-4">
    <div class="text-primary font-weight-bold text-uppercase px-1 px-md-5">Kontakt</div>
    <div class="line bg-primary py-1"></div>
    <div class="text-primary font-weight-bold text-uppercase px-1 px-md-5">Impressum</div>
    <div class="line bg-primary py-1"></div>
    <div class="text-primary font-weight-bold text-uppercase px-1 px-md-5">Datenschutz</div>
    <div class="line bg-primary py-1"></div>
    <div class="text-primary font-weight-bold text-uppercase px-1 px-md-5">Cookieeinstellungen</div>
  </div>
  <div id="cutter" class="bg-primary"></div>
  <div class="d-flex justify-content-center text-primary py-1  my-md-3">© Copyright 2021 - Naturfreunde Berin e.V. ALLE RECHTE VORBEHALTEN.</div>
</div>
