@import "../../../../custom-variables";

.filler_bg{
  background: url("./../../../../assets/pictures/filler/three/thunberg.jpg") no-repeat;
  object-fit: cover;
  width: 100%;
  height: 40vw;
  min-height: 280px;
}

.intro{
  width: 50%;
  min-width: 360px;
  height: 25vh;
  min-height: 280px;
  opacity: 0.7 !important;
}

.green_line{
  width:70%;
  height: 2px;
}

.intro_text{
  font-style: italic;
}
