@import "../../../custom-variables";

.card{
    width: 18rem;
}

.grey_container{
  background-color: $info;
  height: 30vh;
}


::ng-deep .pagination{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
