<div>
  <div class="p-2 p-lg-5">
    <p id="throwback_head" class="display-4 text-primary mb-0">Rückblick</p>
    <p id="throwback_cover" class="cover text text-primary">
      Wirf einen Blick in die Vergangenheit und erlebe mit uns noch einmal
      unsere heroischsten Momente mit.
    </p>
  </div>
  <div *ngIf="throwbackPages.size>1" class="grey_container d-flex justify-content-center py-1 py-md-4">
    <ngb-pagination
      (pageChange)="this.setNewPage($event)"
      [collectionSize]="maxPage"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="false"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
  <div

    class="grey_container mb-2 mb-md-4 py-1 py-md-3 flex-wrap flex-lg-nowrap d-flex justify-content-around">
    <ng-container *ngFor="let throwback of throwbacks">
      <div class="row m-1 row-md-6 card">
        <!--  <img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title h3 mb-1">{{ throwback.getName() }}</h5>
          <p class="card-subtitle h-6 text-info">
            {{ throwback.getstartDate() | date: "dd.MM.YYYY" }}
          </p>
          <p class="card-text h-3 pt-2">
            {{ throwback.getDescription() }}
          </p>
          <div class="text-center">
            <a href="#" class="btn btn-outline-danger">Mehr lesen...</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
