<div>
  <div class="p-2 p-lg-5">
    <div>
      <p class="display-4 text-primary mb-0">Mach mit!</p>
      <p class="text text-primary">Schaue bitte wo wir für Dich den nächsten Streik rausgefunden haben.</p>
    </div>
    <div class="px-2 px-lg-3 w-50">
      <mat-form-field>
      <input id="search_input"  matInput placeholder="Wo möchtest Du mitstreiken?" (enter) = searchLoacation() (mouseout) = searchLoacation() [(ngModel)]="locationSearch" (click) = deleteValue()>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
      </div>
      <div class="text-primary"> {{ error }}</div>
    </div>
    <div id="map" class="map mt-3">
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        </div>
    </div>
  <div class="d-flex justify-content-center">
  <div class="bg-info px-3">
    <mat-slider #mapSlider value="50" min="10" max="150" tickInterval="10" thumbLabel [displayWith]="formatLabel" (pointerup)="calculateEvents(mapSlider.value)"></mat-slider>
    <div class="d-flex justify-content-between">
    <div class="">10 km</div>
    <div class="">150 km</div>
  </div>
  </div>
  </div>
  <div class="d-flex justify-content-center m-2 mb-md-5">
  <div class="border border-primary w-50 p-3 p-md-2">
    <div class="text display-5 text-primary text-center p-2 p-lg-1">Dein nächster Streik:</div>
    <div class="text display-5 text-primary text-center p-0 p-lg-1">{{ day }} {{ place }}</div>
  </div>
</div>
  </div>

