<div>
  <div class="p-2 p-sm-4 p-lg-5">
    <div>
      <p id="map_head" class="display-4 text-primary mb-0">Mach mit!</p>
      <p id="map_cover" class="text text-primary">Schaue bitte wo wir für Dich den nächsten Streik rausgefunden haben.</p>
    </div>

    <div *ngIf="mapSuccess; else elseBlock">
    <div id="map_search" class="px-2 px-lg-3 w-50">
      <mat-form-field>
     <input matInput placeholder="Wo möchtest Du mitstreiken?" (enter) = searchLocation() (mouseout) = searchLocation() [(ngModel)]="searchedLocationValue" (click) ="deleteValue()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="text-warning"> {{ error }}</div>
      </div>
    </div>
    <div id="map" class="map mt-3">
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        </div>
    </div>
    <div *ngIf="mapSuccess">
  <div class="d-flex justify-content-center">
  <div class="bg-info px-3">
    <mat-slider #mapSlider value="50" min="0" max="250" tickInterval="10" thumbLabel (pointerup)="getSliderValue(mapSlider.value!)"></mat-slider>
    <div class="d-flex justify-content-between">
    <div class="">1 km</div>
    <div class="">250 km</div>
  </div>
  </div>
  </div>

  <div *ngIf="sliderChanged">
    <div class="text event-text text-center text-primary p-1 p-sm-2">
      Du hast den Umkreis: {{ mapSliderValue }} km ausgewählt.
    </div>
  </div>


</div>

  <div id="next_demo_box" class="d-flex justify-content-center m-2 mb-md-5">
  <div id="next_demo" class="border border-primary w-lg-50 w-90 p-3 p-md-2 d-flex flex-column justify-content-center">
    <div class="text text-primary text-center p-2 p-lg-1 event-text">Dein nächster Streik:</div>
    <div class="text text-primary text-center p-0 p-lg-1 event-text">{{ day }} {{ place }}</div>
  </div>
</div>


<ng-template #elseBlock>
  <div class="text bg-primary text-white text-center py-4 px-3">Leider haben wir noch keine Aktionen zum kommenden Streik. Bitte schaue zu einem späteren Zeitpunkt vorbei</div>
</ng-template>

  </div>
  </div>

