@import '../../../custom-variables';

#map {
  height: 40vh;
  width: 100%;
  z-index: 1 !important;
  pointer-events: none;
}

.border{
  border-width: 0.2rem !important;
}

.bg-info{
background-color: rgba($info, 0.5) !important;
}

.lh-1{
  flex-shrink: 1 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:$primary !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: $primary !important;;
}

.material-icons{
  color: $primary !important;
}

mat-slider {
  width: 100%;
}
