<div class="p-1 p-lg-5">
  <div>
    <p class="display-4 text-primary mb-0">Mach mit!</p>
    <p class="text text-primary">Schaue bitte wo wir für Dich den nächsten Streik rausgefunden haben.</p>
  </div>
  <div class="px-2 px-lg-3 w-50">
    <mat-form-field>
    <mat-label>Wo möchtest Du mitstreiken?</mat-label>
    <input matInput placeholder="Suche">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
    </div>
  </div>
  <div class="py-1 py3-md- py-lg-5 px-0 mx-0">
  <div id="map" class="map"></div>
</div>
<div class="bg-info positon-absolute w-25">
  <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
</div>
<div class="m-1 m-md-2 m-md-4 p-2 p-lg-5 border border-info"> 
  <div class="text display-5 text-primary text-center p-2- p-lg-3">Dein nächster Streik:</div>
  <div class="text display-5 text-primary text-center p-0 p-lg-1">,der um Uhr in </div>
</div>

