@import "../../../custom-variables";
/*
.bg{

background-image: url("./../../../assets/pictures/active/actice_bg.png");
background-repeat: no-repeat;
background-position: right;
//background-size: cover;
height: 60vh;
min-height: 400px;

}
*/

.bg-background{
background-image: url("./../../../assets/pictures/active/bg_active.jpg");
background-repeat: no-repeat;
background-position: right;
background-position: 0 40%;
min-height: 400px;
}

.zindex {
  z-index: 99000 !important;
}

#box{

  min-width: 360px;
}

.btn{
  width: 12vw;
  height: 12vw;
}

.rounded-circle{
  min-width: 200px;
  min-height: 200px;
}

.rounded-circle:hover,.rounded-circle:active, .rounded-circle:focus{
  background-color: $info !important;
}