<div class="p-1 p-sm-4 p-lg-5 bg-background">
  <p class="display-4 text-primary mb-0">Werde Aktiv!</p>
  <p class="text text-primary">
    Wir freuen uns über jede Hilfe die wir bekommen können.
Wofür du dich hier auch entscheidest, du tust das Richtige!
  </p>
  <div id="box" class="mx-md-5 rounded-top">
    <div class="buttons d-flex flex-wrap justify-content-around h-100">
    <button class="my-2 my-md-5  p-3 p-md-4 btn bg-primary border border-info rounded-circle" onclick="window.open('https://www.klima-streik.org/helfen/spenden', 'new_window')">
      <div class="text-secondary">Die Garantierte Hilfe</div>
      <a class="text-white">Sende uns eine Spende</a>
    </button>
    <button class="my-2 my-md-5 p-3 p-md-4 btn bg-primary border border-info rounded-circle" onclick="window.open('https://www.klima-streik.org/helfen/mobilisieren', 'new_window')">
      <div class="text-secondary">Die einflussreiche Hilfe</div>
      <div class="text-white">Mobilisiere und teile unseren Auftritt auf Social Media</div>
    </button>
    <button class="my-2 my-md-5 p-3 p-md-4 btn bg-primary border border-info rounded-circle" onclick="window.open('https://www.klima-streik.org/helfen/mobilisieren', 'new_window')">
      <div class="text-secondary">Die standhafte Hilfe</div>
      <div class="text-white">Setzte ein Statement mit einem neuen Profilbild</div>
    </button>
    <button class="my-2 my-md-5 p-3 p-md-4 btn bg-primary border border-info rounded-circle">
      <div class="text-secondary">Die direkte Hilfe</div>
      <div class="text-white">Ruf uns an</div>
    </button>
  </div>
</div>
</div>
