@import "../../../custom-variables";
/*
.bg{

background-image: url("./../../../assets/pictures/active/actice_bg.png");
background-repeat: no-repeat;
background-position: right;
//background-size: cover;
height: 60vh;
min-height: 400px;

}
*/
#box{

  min-width: 360px;
}

.btn{
  width: 12vw;
  height: 12vw;
}

.rounded-circle{
  min-width: 200px;
  min-height: 200px;
}
