<div class="p-1 p-lg-5">
  <p class="display-4 text-primary mb-0">Werde Aktiv!</p>
  <p class="text text-primary">
    Wir freuen uns über jede Hilfe die wir bekommen können.
Wofür du dich hier auch entscheidest, du tust das Richtige!
  </p>
</div>
<div class="bg d-flex align-items-end">
  <div id="box" class="bg-info  mx-1 mx-md-5 px-3 px-md-5 rounded ">
    <div class="window buttons d-flex flex-column ">
    <button id="first_button" class="p-3 p-md-4 btn bg-primary border border-info rounded-pill">
      <div class="text-secondary">Die Garantierte Hilfe</div>
      <div class="text-white">Sende und eine Spende</div>
    </button>
    <button class="p-3 p-md-4 btn bg-primary border border-info rounded-pill">
      <div class="text-secondary">Die Garantierte Hilfe</div>
      <div class="text-white">Sende und eine Spende</div>
    </button>
    <button class="p-3 p-md-4 btn bg-primary border border-info rounded-pill">
      <div class="text-secondary">Die arantierte Hilfe</div>
      <div class="text-white">Sende und eine Spende</div>
    </button>
    <button class="p-3 p-md-4 btn bg-primary border border-info  rounded-pill">
      <div class="text-secondary">Die garantierte Hilfe</div>
      <div class="text-white">Sende und eine Spende</div>
    </button>
  </div>
</div>
</div>

