<div id="fillerfive_bg" class="filler_bg d-flex align-items-center">
  <div id="fillerfive_box" class="px-2 d-flex intro bg-primary flex-column justify-content-center align-items-center">
    <p class="px-3 px-sm-4 text-center h1 intro_head text-white">Es ist schon fast zu spät</p>
    <div class="my-2 my-md-3 green_line bg-info"></div>
    <div class="px-2 px-lg-3 intro_text h5 text-white">Die größte Bedrohung für unseren Planeten ist der Glaube, dass jemand anderes ihn retten kann.</div>
  </div>
</div>
