@import "../../../../custom-variables";

.filler_bg{
  background: url("./../../../../assets/pictures/filler/four/Antarktis.jpg");
  width: 100%;
  height: 40vw;
  min-height: 280px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
}

.intro{
  width: 50%;
  min-width: 360px;
  height: 25vh;
  min-height: 280px;
  opacity: 0.8 !important;
}

.green_line{
  width:70%;
  height: 2px;
}

.intro_text{
  font-style: italic;
}
