<div id="fillerfour_bg" class="filler_bg d-flex align-items-center">
  <div id="fillerfour_box" class="px-2 d-flex intro bg-info flex-column justify-content-center align-items-center">
    <p class="px-3 px-sm-4 text-center h1 intro_head text-white">Klimawandel: ein großes Problem!</p>
    <div class="my-2 my-md-3 green_line bg-primary"></div>
    <div class="px-2 px-lg-3 intro_text h5 text-white">Der Klimawandel lässt die Temperaturen auf der Erde ansteigen. Informiere Dich, wie Du helfen kannst.</div>
  </div>
</div>
