<div class="bg-image d-flex align-items-center flex-column justify-content-center py-2 py-md-5">
    <div id="content_box" class="border border-info p-1 p-md-3">

        <div class="text display-3 text-uppercase text-white text-center m-1 m-md-4">Globaler Klimastreik</div>

        <div *ngIf="hasNewEvent; else elseBlock">
        <div class="d-flex justify-content-center align-items-center flex-wrap py-2 py-md-4">
                <div class="rounded-circle border border-secondary text-white text-center d-flex flex-column justify-content-center my-2 mx-5 p-2 m-md-3">
                    <div class="text text-circle-count align-self-center fw-bold lh-1">{{daysToDday}}</div>
                    <div class="text text-circle align-self-center">Tage</div>
                </div>
                <div class="rounded-circle border border-secondary text-white text-center d-flex flex-column justify-content-center my-2 mx-5 p-2 m-md-3">
                    <div class="text text-circle-count align-self-center fw-bold lh-1">{{hoursToDday}}</div>
                    <div class="text text-circle align-self-center">Stunden</div>
                </div>
                <div class="rounded-circle border border-secondary text-white text-center d-flex flex-column justify-content-center my-2 mx-5 p-2 m-md-3">
                    <div class="text text-circle-count align-self-center fw-bold lh-1">{{minutesToDday}}</div>
                    <div class="text text-circle align-self-center">Minuten</div>
                </div>
       </div>

        <div class="text-center m-2 m-md-4">
        <button type="button" class="text-white btn btn-outline-secondary" [routerLink]="['/Home']" fragment="Karte">Sei dabei!</button>
        </div>
    </div>



       <ng-template #elseBlock>
            <div class="text bg text-white fs-2 text-center m-3 py-4 px-3">Der nächste Streik befindet sich noch in der Planung. Schaue bitte zu einem späteren Zeitpunkt vorbei.</div>
        </ng-template>
    </div>

<div class="align-self-start">
      <div id="banner" class="bg-warning text text-uppercase text-white p-1 px-4">{{gDate}}</div>
  </div>


</div>
