@import '../../../custom-variables';

.bg-image{
    background-image: url('../../../assets/timer_background.jpg');
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

#frame{
    width: 70%;
    height: 90%;
    border-style: solid;
    border-color: $info;
    border-width: 0.3em;
}

.h1{
    font-size: 7vh;
}

.rounded-circle{
    width: 15vh;
    height: 15vh;
    background-color: rgba(black, 0.5);
    padding-top: 0.7vh;

}

span{
    font-size: 4vh;
    font-weight: bold;
}

.distance{
 padding-top: -67vh;
 margin-top: -45vh;
}

.btn-outline-secondary{
    background-color: rgba($primary, 0.5);
}

.btn-outline-secondary:hover{
    background-color: $primary;
}

.btn-outline-secondary:focus, .btn-outline-secondary:active {
    background-color: $primary;
}

#infoDay{
    font-size: 4vh;
}