@import '../../../custom-variables';

.bg-image{
    background-image: url('../../../assets/timer_background.jpg');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
}

#frame{
    height: 90% !important;
    border-width: 0.3em !important;
}

.rounded-circle{
    background-color: rgba(black, 0.35);
}

.border {
    border-width:  0 0.6vw 0 0 !important;
}

.btn-outline-secondary{
    background-color: rgba($primary, 0.5);
    padding: 0 0.5vh;
}

.btn-outline-secondary:hover{
    background-color: $primary;
}

.btn-outline-secondary:focus, .btn-outline-secondary:active {
    background-color: $primary;
}

.bg-warning{
    top: -9vh;
    text-indent: 1.5rem;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}

@media (max-width: 540px){
    .bg-image{
        height: 40vh !important;
    }

    #frame{
        padding-top: 0.5rem !important;
        width: 90% !important; 
    }
}

@media (min-width: 540.02px) and (max-width: 767.98px) {
    .bg-image{
        height: 40vh !important;
    }

    #frame{
        padding-top: 2rem !important;
    }

    .m-3{
        margin-bottom: 1.5rem !important;
    }
    
    .bg-warning{
        top: -3.8rem;
        width: 50% !important;
    }
 }

 @media (min-width: 768px) and (max-width: 1130px) {
    .bg-image{
        height: 50vh !important;
    }

    #frame{
        padding: 3rem !important;
    }

    .m-3{
        margin-top: 4rem !important;
        margin-bottom: 3rem !important;
    }
    
    .bg-warning{
          top: -5rem;
          width: 45% !important;
    }

    .fs-6{
        font-size: 1.2rem !important;
    }
 }

 @media (min-width: 1109.02px) {
    .bg-image{
        height: 60vh;
    } 

    .h1{
        font-size: 4rem;
    }

    #frame{
        padding: 3.5rem !important;
    }

    .m-3{
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .fs-6{
        font-size: 1.5rem !important;
    }

    .bg-warning{
        top: -12vh;
        width: 40% !important;
  }

    .rounded-circle{
        padding: 2rem !important;
    }

    .px-2{
        padding-right: 1.4rem !important;
    }
}
