.bg-image{
    background-image: url('../../../assets/timer_background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}