<div class="bg-image d-flex justify-content-center align-items-center w-100">
    <div class="p-5" id="frame">

        <h1 class="h1 text-uppercase text-white text-center">Globaler Klimastreik</h1>

        <div class="d-flex justify-content-center align-items-center m-5">
            <p class="rounded-circle  text-white text-center m-2 "> <span >22</span> <br />Tage</p>
            <p class="rounded-circle  text-white text-center m-2" > <span >15</span> <br /> Stunden</p>
            <p class= "rounded-circle  text-white text-center m-2 "> <span >03</span> <br /> Minuten</p>
        </div>
        
        <button type="button" class="text-white btn btn-outline-secondary rounded-0">Save the day</button>

        <div class="bg-warning">
            <p class="text-uppercase text-center text-white" id="infoDay">19.März, 12 Uhr</p>
        </div>
        
    </div>
</div>

