<div class="fixed-top w-100">
  <div class="d-flex justify-content-end bg-white p-1 p-md-3">
  <ul ngbNav #nav="ngbNav">
  <div ngbDropdown class="d-inline-block">
    <div class="btn text-primary nav-item" id="dropdownBasic1" ngbDropdownToggle>Home</div>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="text-primary">
      <a ngbDropdownItem routerLink="Home/Timer">Countdown</a>
      <a ngbDropdownItem href="#Karte">Karte</a>
      <a ngbDropdownItem href="#Rückblick">Rückblick</a>
      <a ngbDropdownItem href="#Bündnis">Bündnis</a>
      <a ngbDropdownItem href="#Testimonials">Personen</a>
      <a ngbDropdownItem href="#FAQ">FAQ</a>
      <a ngbDropdownItem href="#Aktiv">Spende</a>
    </div>
  </div>

  <li class="nav-item">
    <a class="nav-link" href="https://www.klima-streik.org/infos" target="_blank">Infos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.klima-streik.org/helfen/spenden" target="_blank">Spenden</a>
  </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
</div>



